<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading List | Login</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
	<style>
		body {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			background-image: linear-gradient(to right, #36d1dc, #5b86e5);
		}
	</style>
</head>
<body>
    <div class="flex flex-col justify-between items-center p-5">
        <h1 class="text-3xl font-bold block text-white">Reading List Web App</h1>
        <button
            class="bg-black py-2 px-6 rounded-md text-sm my-3 font-medium text-white cursor-pointer hover:bg-gray-800"
            onclick="window.location.href='/auth/login'"
        >
            Login
        </button>
    </div>
</body>
</html>
