<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - HelloWorldWebApp</title>
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
